.menu-open {
  background: #212121;
  opacity: 0.3;
}

.title {
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-selectors {
  color: $blue;
  font-size: 14px;
  font-weight: 900;
  &.selected {
    border-bottom: 3px $blue solid;
    padding-bottom: 4px;
    color: #212121;
  }
  &.selected-sport {
    border-bottom: 2px $blue solid;
    padding-bottom: 3px;
    color: #212121;
  }
  &:hover {
    color: #212121;
  }
}
