.forecasts {
  &__inner {
    &-forecast {
      display: flex;
      align-items: baseline;
      gap: 40.4px;
      h2 {
        padding-top: 28px;
      }
      div {
        display: flex;
        align-items: baseline;
        gap: 20px;
        button {
          font-size: 14px;
          font-weight: 900;
          &.selected {
            border-bottom: 3px $blue solid;
            padding-bottom: 4px;
          }
          &:hover {
            color: $blue;
          }
        }
      }
    }
    &-events {
      margin-top: 27px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 24px;
      .card {
        max-width: 360px;
        width: 100%;
        background: #fff;
        border-radius: 12px 12px 0px 0px;
        position: relative;

        &-popular {
          left: calc(50% - 63px);
          padding: 4px 12px;
          position: absolute;
          top: -12px;
          border-radius: 12px;
          background: #fedb0d;
          border: 3px solid #fd6230;
          text-transform: uppercase;
          font-size: 12px;
        }

        &-teams {
          height: 140px;
          border-radius: 12px 12px 0px 0px;
          background-image: url("../img/forecasts/bg.png");
          background-repeat: no-repeat;
        }
        &-info {
          padding: 16px 20px 20px;
        }
        &-time {
          margin-bottom: 4px;
          font-size: 12px;
          font-weight: 400;
          color: #637093;
          span {
            font-weight: 900;
            color: $blue;
          }
        }
        &-match {
          font-size: 18px;
          font-weight: 700;
          line-height: 24px;
        }
      }
    }
    &-more {
      display: block;
      max-width: 204px;
      text-align: center;
      margin: 33px auto;
      font-size: 14px;
      padding: 7px 12px 7px 20px;
      border-radius: 20px;
      border: 3px solid $blue;
      svg {
        vertical-align: middle;
        margin-left: 10px;
      }
      &:hover {
        background: $light-blue;
        border-color: $light-blue;
        color: #fff;
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .forecasts__inner {
    &-forecast {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }

    &-events {
      flex-direction: column;
      gap: 12px;
    }
  }
}
