.header {
  padding: 27px 0 25px;
  background: #fff;
  font-size: 14px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      width: 165px;
    }
    &-links {
      display: flex;
      align-items: center;
      gap: 28px;
      li {
        position: relative;
        cursor: pointer;
        display: flex;
        gap: 2px;
        align-items: center;
        ul {
          display: none;
          z-index: 1;
          padding: 15px;
          background: #fff;
          position: absolute;
          color: #212121;
          width: 100px;
          top: 15px;
          li {
            cursor: default;
          }
        }
        a {
          &:hover {
            color: $light-blue;
          }
        }
        &:hover {
          color: $light-blue;
          ul {
            display: block;
          }
        }
      }
    }
    &-language {
      cursor: pointer;
      position: relative;
      &:hover {
        ul {
          display: block;
        }
      }
      div {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      ul {
        padding: 15px;
        display: none;
        position: absolute;
        right: -15px;
        background: #fff;
        li {
          &:hover {
            color: $light-blue;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    &__inner-logo {
      width: 145px;
    }
    nav {
      display: none;
    }
  }
}
