.match {
  &__inner {
    display: flex;
    gap: 24px;
    &-league {
      h2 {
        padding-left: 8px;
        margin-bottom: 25px;
      }
      width: 264px;
      div {
        border-radius: 12px;
        background: #fff;
        padding: 16px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;
          a {
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 8px;
            &:hover {
              color: $blue;
            }
          }
        }
        .league-all {
          display: block;
          border-radius: 20px;
          border: 3px solid $light-blue;
          background: $light-blue;
          text-align: center;
          width: 150px;
          font-size: 14px;
          color: #fff;
          height: 39px;
          line-height: 33px;
          margin: 24px auto 0;
          &:hover {
            background: #fff;
            color: $light-blue;
          }
        }
      }
    }
    &-center {
      .match {
        &-sports {
          display: flex;
          align-items: baseline;
          gap: 40.4px;
        }
        &-buttons {
          align-items: flex-start;
          display: flex;
          ul {
            line-height: 0;
            align-items: baseline;
            display: flex;
            gap: 24px;
          }
        }
        &-live {
          margin-right: 48px;
        }
        &-calendar {
          gap: 11px;
          align-items: center;
          display: flex;
          margin-left: 59px;
          &:hover {
            svg {
              path {
                fill: #212121;
              }
            }
          }
        }

        /* &-list {
          table {
            width: 100%;
            td {
              width: 128px;
            }
            .table {
              &-forecast {
                float: right;
              }
            }
          }
        } */

        &-list {
          margin-top: 25px;
          .scored,
          .in-live {
            color: #fd6230;
          }
          ul {
            display: flex;
            flex-direction: column;
            gap: 4px;
          }

          .match-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // TODO
            padding: 14px 18px 14px 16px;
            background: #fff;
            box-sizing: border-box;
            border-radius: 12px;
            font-size: 14px;
            font-weight: 400;

            .match-container {
              display: flex;
              flex-direction: row;

              &.match-time {
                span {
                  color: #637093;
                }
              }

              &.match-forc {
                a {
                  display: flex;
                  align-items: center;
                  color: $blue;
                  font-weight: 700;
                  gap: 4px;
                  width: 99px;
                  height: 31px;
                  border-radius: 40px;
                  justify-content: center;
                  &:hover {
                    background: #5685ff08;
                  }
                }
              }

              &.match-time,
              &.match-forc {
                width: auto;
                flex-shrink: 0;
              }

              &.match-time a {
                display: none;
              }

              &.match-team-container {
                width: 50%;
                flex-shrink: 1;
                gap: 8px;

                .match-score {
                  width: 28px;
                  overflow: hidden;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-end;
                  color: rgba(99, 112, 147, 0.3);
                  font-size: 18px;
                  font-weight: 900;
                  span {
                    &:last-child {
                      font-size: 14px;
                      font-weight: 400;
                      color: #637093;
                    }
                  }
                }

                .match-team {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 8px;
                }

                &.team-1 {
                  justify-content: flex-end;
                }

                &.team-2 {
                  .match-team {
                    flex-direction: row-reverse;
                  }

                  .match-score {
                    align-items: flex-start;
                  }
                }
              }

              &.match-separator {
                width: 18px;
                flex-shrink: 0;
                justify-content: center;
                color: rgba(99, 112, 147, 0.3);
                font-size: 18px;
                font-weight: 900;
              }
            }
          }

          @media (max-width: 1024px) {
            .match-wrapper {
              flex-direction: column;
              // TODO
              padding: 0;

              .match-container {
                width: 100%;

                &.match-time {
                  width: 100%;
                  justify-content: space-between;
                  border-bottom: 1px solid black;
                  padding: 8px 16px;

                  a {
                    display: flex;
                  }
                }

                &.match-team-container {
                  width: 100%;
                  justify-content: space-between;

                  &.team-1 {
                    justify-content: space-between;
                    padding: 12px 16px 4px;
                  }

                  &.team-2 {
                    flex-direction: row-reverse;
                    padding: 4px 16px 12px;
                  }

                  .match-team {
                    display: flex;
                    flex-direction: row-reverse;
                  }

                  .match-score {
                    width: auto;
                    flex-direction: row;
                    justify-content: flex-end;
                  }
                }

                &.match-separator,
                &.match-forc {
                  display: none;
                }
              }
            }
          }

          // .match-wrapper {
          //   width: 100%;
          //   display: flex;
          //   justify-content: flex-start;
          //   align-items: center;

          //   .match-container {
          //     width: 50%;
          //     flex-direction: row;
          //     justify-content: space-between;
          //     align-items: center;
          //     flex-shrink: 1;

          //     &.container-middle {
          //       width: 100px;
          //       justify-content: center;
          //       flex-shrink: 0;
          //     }
          //   }
          // }

          // li {
          //   background: #fff;
          //   padding: 16px;
          //   border-radius: 12px;
          //   font-size: 14px;
          //   font-weight: 400;
          //   // display: flex;
          //   align-items: center;
          //   justify-content: space-between;
          //   div {
          //     display: flex;
          //     align-items: center;
          //     gap: 32px;
          //   }
          //   .match-team-1,
          //   .match-team-2,
          //   .match-forecast {
          //     display: flex;
          //     align-items: center;
          //   }
          //   .match-team-1,
          //   .match-team-2 {
          //     gap: 8px;
          //   }
          //   .match-date {
          //     color: #637093;
          //   }
          //   .match-score {
          //     color: rgba(99, 112, 147, 0.3);
          //     font-size: 18px;
          //     font-weight: 900;
          //   }
          //   .match-forecast {
          //     color: $blue;
          //     font-weight: 700;
          //     gap: 4px;
          //     width: 99px;
          //     height: 31px;
          //     border-radius: 40px;
          //     justify-content: center;
          //     &:hover {
          //       background: #5685ff08;
          //     }
          //   }
          // }
        }
      }
    }
  }
}
