@import "./base/variables";
@import "./base/mixins";
@import "./base/fonts";

@import "./blocks/header";
@import "./blocks/hamburger-menu";
@import "./blocks/nav-sidebar";
@import "./blocks/forecasts";
@import "./blocks/match";

* {
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f3f6f9;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

a {
  color: #212121;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.menu-open {
  background: #212121;
  opacity: 0.3;
}

.title {
  font-size: 20px;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 1140px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
